/* 
    Document   : templates
    Created on : Jan 4, 2013, 11:09:32 AM
    Author     : yandu
    Description:
        Purpose of the stylesheet follows.
*/

h3 {
    margin-bottom: 0.4em;
}

.clear-both {
    clear: both;
}

.eclip-01 .main-left {
    width: 66%;
    float: left;
}

.main-left-inner, .main-center-inner {
    padding-right: 5px;
    border-right: 2px solid transparent;
}

.news-content {
    margin-bottom: 20px;
}

.eclip-01 .main-right {
    width: 33%;
    float: left;
}

.main-right-inner, .main-center-inner {
    padding-left: 5px;
}

.eclip-02.destacado-2 .views-row {
    width: 33%;
    float: left;
}

h2.category-title {
    margin: 0;
    font-size: 17px;
}

.eclip-02.destacado-2 .views-field-nothing {
    padding: 0 5px;
    border-right: 2px solid transparent;
}

.destacado-2.eclip-02 .views-row-first .views-field-nothing {
    padding-left: 0;
}

.destacado-2.eclip-02 .views-row-last .views-field-nothing {
    border-right:  0;
}

.destacado {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    margin-bottom: 5px;
}

.destacado img {
    border: 2px solid transparent;
}

.destacado-2 {
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    margin-bottom: 5px;
}

.main-template.eclip-01{

}

.eclip-02 .main-left {
    width: 60%;
    float: left;
}

.eclip-02 .main-right {
    width: 40%;
    float: left;
}

.eclip-02 .main-bottom {
    padding-top: 5px;
    border-top: 2px solid transparent;
    font-size: 0.8em;
    clear: both;
}

.eclip-03 .main-left {
    width: 50%;
    float: left;
}

.eclip-03 .main-right {
    width: 50%;
    float: left;
}

.eclip-04 .main-left,
.eclip-04 .main-center{
    width: 40%;
    float: left;
}

.eclip-04 .main-right {
    width: 20%;
    float: left;
}

.eclip-02 .zone-3-inner{
    padding-right: 5px;
    border-right: 2px solid transparent;
}

.eclip-02 .zone-4-inner{
    padding-left: 5px;
}

.eclip-02 .zone-3,
.eclip-02 .zone-4{
    float: left;
    width: 50%;
}

/*********** Related news *************/

.related-items {
    display: none;
}

.related-item {
    padding: 3px 0;
}

/************* Slideshow *************/

.views-slideshow-controls-top, .views-slideshow-controls-bottom {
    text-align: right;
}

#widget_pager_top_slideshow_images_videos-files, #widget_pager_bottom_slideshow_images_videos-files {
    float: right;
}

.views-slideshow-pager-field-item {
    padding: 5px;
    border:1px solid #000;
    cursor: pointer;
    margin-left: 5px;
    float: left;
}

.views-slideshow-pager-field-item.active {
    background-color: #000;
    color: #fff;
}